<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/css/register.css"/>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/warehouse.js" type="application/javascript"></script>

</head>
<body>

<div class="register-container">
    <form action="/register" method="post" class="register-form">
        <h2>注册</h2>
        <input type="text" name="username" th:value="${username}" placeholder="用户名">
        <input type="text" name="phone" th:value="${phone}" placeholder="手机号">
        <input type="password" name="password" th:value="${password}" placeholder="密码">
        <input type="password" name="repeatPassword" th:value="${repeatPassword}" placeholder="重复密码">
        <button type="submit">注册</button>

        <div th:if="${error != null}">
            <strong th:text="${error}"></strong>
        </div>

    </form>


</div>


</body>
</html>